body{
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

#calculator{
        font-family: Arial, sans-serif;
        background-color: rgb(37, 35, 36);
        border-radius: 15px;
        max-width: 500px;
        overflow: hidden;
}

#display{
    width: 100%;
    padding: 20px;
    color: white;
    font-size: 5rem;
    text-align: left;
    border: none;
    background-color: dimgrey;

}

#keys{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 10px;
    padding: 25px;
}

button{
    width: 100px;
    height: 100px;
    border-radius: 50px;
    border: none;
    background-color: hsl(290, 100%, 35%);
    color: rgb(224, 78, 10);
    font-size: 2rem;
    font-weight: bold;
    cursor: pointer;
}       

button:hover{
    background-color: hsl(290, 100%, 20%);
}
button:active{
    background-color: hsl(290, 100%, 10%);
}

.operator{
    background-color: hsl(125, 100%, 50%);
}
.operator:hover{
    background-color: hsl(125, 100%, 20%);
}
.operator:active{
    background-color: hsl(125, 100%, 10%);
}

.clear{
    background-color: hsl(0, 0%, 100%);
}
.clear:hover{
    background-color: hsl(0, 0%, 50%);
}
.clear:active{
    background-color: hsl(0, 0%, 20%);
}